<%- include('partials/header'); -%>

<h1 class="heading">About Us</h1>
<p> <%= startingContent %> </p>

<div class="grid2c">
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="img-sec-c">
            <img src="/media/profile_pic.jpeg" alt="">
            <div class="abt-info">
                <h2>PRANSHU GUPTA</h2>
                <p>Developer</p>
            </div>
            <a href="https://github.com/pranshugupta54/TechFestWeb" target="_blank"><button class="info-c">More Info</button></a>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>