<%- include('partials/header'); -%>

<div class="post-content">
    <div class="post-text">
        <h1 class="heading"><%= postFull.title %></h1>
        <div class="date">
            <li>&#x1f4c5; 18th Nov, 2022</li>
            <li>&#128337; 3:00pm </li>
            <li>&#x1F4CD; ELECTRICAL CIRCUITS LAB </li>
        </div>
        <form action="/register" method="get"><button type="submit" >REGISTER</button></form>
        
    </div>
<img src="/media/cb1811.png" alt="">
</div>

<h1 class="heading" style="text-align:center; font-size: 50px;">INFORMATION</h1>

<h2 class="heads">ABOUT</h2>
<p> <%= postFull.content %>  </p>

<h2 class="heads">RULES</h2>
<p><a class="no-dec" href="/" target="_blank">Click here to view rules </a></p>

<h2 class="heads">TEAM SIZE</h2>
<p>3</p>

<h2 class="heads">PRIZE</h2>
<p>Cash prize worth 30k</p>

<h2 class="heads">CONTACT US</h2>
<p>9999999999</p>

<%- include('partials/footer'); -%>