
html, body {
    margin:0;
    padding:0;
    height:100%;
    background-color: black;
}

#cont{
    min-height:80vh;
    position:relative;
}

#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    /* size: 1px; */
    width: 120px;
}
img{
    width: 120px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: black;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	/* position: fixed; */
	text-align: center;
	bottom: 0;
	width: 100%;
	height: auto;
	/* background-color: #1abc9c; */
    background-color: black;
    color: #6cde01;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: x-large;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer li {
    color: white;
    font-size: medium;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'Marker Felt','Comic Sans';
}
.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: #6cde01;
    text-decoration: none;
}

.footer ul{
    margin: 0%;
    padding: 0;
}

.follow ul{
    display: flex;
    padding: 2px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.follow li{
    padding: 5px;
}

.no-dec{
    color: #6cde01;
    text-decoration: none;
}
.no-dec:hover{
    color: #6cde01;
}

.logo-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    width: 100%;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

#heading{
    text-align: center;
    font-size: 100px;
    font-family: myFont, 'Arial';
    color: white;
    text-shadow: 3px 6px 10px #6cde01;
}

@font-face {
    font-family: myFont;
    src: url(/media/font.ttf);
}