
html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: medium;
}

#cont{
    min-height:80vh;
    position:relative;
}

#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    /* size: 1px; */
    width: 120px;
}
img{
    width: 120px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: black;
}
.navbar-nav  li a:hover {
    color: #6cde01 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	/* position: fixed; */
	text-align: center;
	bottom: 0;
	width: 100%;
	height: auto;
	/* background-color: #1abc9c; */
    background-color: black;
    color: #6cde01;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: x-large;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer li {
    color: white;
    font-size: medium;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'Marker Felt','Comic Sans';
}
.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: #6cde01;
    text-decoration: none;
}

.footer ul{
    margin: 0%;
    padding: 0;
}

.follow ul{
    display: flex;
    padding: 2px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.follow li{
    padding: 5px;
}

.no-dec{
    color: #6cde01;
    text-decoration: none;
}
.no-dec:hover{
    color: #6cde01;
}

.logo-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    width: 100%;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* #heading{
    text-align: center;
    font-size: 100px;
    font-family: myFont, 'Arial';
    color: white;
    text-shadow: 3px 6px 10px #6cde01;
} */

@font-face {
    font-family: myFont;
    src: url(/media/font.ttf);
}

.heading{
    text-align: center;
    font-size: 100px;
    font-family: myFont, 'Arial';
    color: white;
    height: fit-content;
    padding: 0;
    text-shadow: 3px 6px 10px #6cde01;
}

.post-content{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
}

.post-content img {
    width: 400px;
    height: auto;
    padding: 10px;
    align-items: flex-end;
    margin: 100px;
}
.post-content h1{
    margin-top: 10%;
    
}

.date{
    display: flex;
    flex-direction: row;
}
.date li {
    font-size: large;
    padding: 15px;
    list-style: none;
}
.post-text button{
    padding: 10px;
    margin: 50px;
    margin-left: 0;
    background-color: #6cde01;
    color: white;
    /* background-color: inherit; */
    border-radius: 20px;
    border-style: solid;
    border-width: 0;
    font-family: myFont;
}

.post-text button:hover{
    background-color: #6cde01;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 1px 20px 3px #6cde01;
}

.heads{
    font-family: myFont;
    border-top: 4px solid rgb(34, 255, 34);
    padding-top: 20px;
    text-shadow: 3px 3px 10px #6cde01;
    margin-top: 40px;
}


.navbar-brand{
    padding: 2px;
    margin-top: 50px;
    font-family: myFont; 
    font-size: xx-large;
}
.navbar-brand:hover{
    text-shadow: 3px 3px 10px #6cde01;
}



/* EVENTS PAGE */

.grid2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    /* justify-content: center; */
    align-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:min-content;
    margin-left: 20%;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
    border-style: solid;
    border-color: #6cde01;
}

.event-info h2{
    /* width: 100%; */
    padding: 5%;
    /* margin: 2%; */
    font-family: myFont;
}

.event-info p{
    margin: 5%;
}

.flex-row img{
    /* padding: 10%; */
    margin-top: -10vh;
    width: 200px;
    border-radius: 40px;
    box-shadow: 3px 3px 10px #6cde01;
}

.event-info{
    width: 17vw;
}

.info{
    width: fit-content;
    min-width: 200px;
    margin-top: 20%;
    /* margin-left: 2%; */
    margin-bottom: 5%;
    padding: 5%;
    font-family: myFont;
    background-color: inherit;
}

.img-sec{
    display: flex;
    flex-direction: column;
}

.img-sec button{
    border-radius: 10px;
    border-color: #6cde01;
    color: #6cde01;
}

.img-sec button:hover{
    background-color: #6cde01;
    color: black;
    box-shadow: 3px 3px 10px #6cde01;
}



/* CONTACT FORM */

.contact_form{
    width: 40%;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
}

.contact_form input,textarea{
    width: 100%;
    border-radius: 5px;
    color: white;
    padding: 2%;
    border-style: solid;
    border-color: grey;
    background-color: #353635 !important;
    border-width: 2px;
    margin-bottom: 5%;
}

.contact_form input:focus, input:active, textarea:focus, textarea:active{
    border-color: #6cde01;
    background-color: black;
    outline: none;
}

.contact_form button{
    border-radius: 10px;
    border-color: #6cde01;
    color: #6cde01;
    padding: 10px;
    width: 30%;
    font-family: MyFont;
    background-color: black;
}

.contact_form button:hover{
    background-color: #6cde01;
    color: black;
    box-shadow: 3px 3px 10px #6cde01;
}


/* ABOUT US PAGE */

.flex-row-c{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    padding: 2%;
    margin: 4%;
    margin-bottom: 6%;
    border-radius: 5px;
    border-style: solid;
    border-color: #6cde01;
    /* background-color: pink; */
}

.flex-row-c:hover{
    box-shadow: 3px 3px 10px #6cde01;
    animation-name: image;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.flex-row-c:hover .img-row-c{
    background-color: #6cde01;
}

@keyframes image {
    0% {border-radius: 0%;}
    /* 25% {border-radius: 25%;} */
    /* 50% {border-radius: 50%;} */
    100% {border-radius: 30px;}
}


.img-sec-c{
    text-align: -webkit-center;
}

.img-sec-c img{
    border-radius: 100px;
    /* width: 120px; */
    height: 120px;
    margin-top: 5%;
    border-color: #6cde01;
    border-style: solid;
    border-width: 1px;
}

.info-c{
    width: fit-content;
    min-width: 100px;
    /* margin-top: 20%; */
    /* margin-left: 2%; */
    margin-bottom: 5%;
    padding: 5%;
    font-family: myFont;
    font-size: small;
    background-color: inherit;
    color: #6cde01;
}


.grid2c{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    /* width: 100%; */
    /* justify-content: center; */
    align-content: center;
    font-size: small;
    justify-items: stretch;
    align-items: stretch;
}

.abt-info h2{
    font-size: small;
    color: #6cde01;
}

.abt-info p{
    color: white;
}

.img-sec-c button{
    border-radius: 10px;
    border-color: #6cde01;
    color: #6cde01;
}

.img-sec-c button:hover{
    background-color: #6cde01;
    color: black;
    box-shadow: 3px 3px 10px #6cde01;
}
